body{
  background-image: url("../images1/ubereats.jpg");
  background-size: cover;


  font-family: UberMoveBold; src: url('fonts/uber-move-2-cufonfonts/UberMoveBold.otf');
}
h2{
  color: #F5F5F5;
}
h1{

  color: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.container-fluid{
  padding: 2% 3%;
}
#address{
  width: 600px;
  height: 50px
}
#delivery-stat{
  width: 200px;
  height: 50px
}
p{
  color: #F5F5F5;
  margin-top: 15px;
}
a:link{
  color: #F5F5F5;
}
/* .hamburger{position:relative;display:block;width:35px;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:none;outline:none;border:none}
.hamburger .bar,.hamburger:after,.hamburger:before{content:'';display:block;width:100%;height:5px;background-color:#FFF;margin:6px 0px;-webkit-transition:0.4s;transition:0.4s}
.hamburger.is-active:before{-webkit-transform:rotate(-45deg) translate(-8px, 6px);transform:rotate(-45deg) translate(-8px, 6px)}
.hamburger.is-active:after{-webkit-transform:rotate(45deg) translate(-9px, -8px);transform:rotate(45deg) translate(-9px, -8px)}
.hamburger.is-active .bar{opacity:0}
.mobile-nav{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#12002F;padding-top:120px;-webkit-transition:0.4s;transition:0.4s}
.mobile-nav.is-active{left:0}
.mobile-nav a{display:block;width:100%;max-width:200px;margin:0 auto 16px;text-align:center;padding:12px 16px;background-color:#1f103F;color:#FFF;text-decoration:none}
.mobile-nav a:hover{background-color:#24104f}
@media (min-width: 768px){.mobile-nav{display:none}.hamburger{display:none}} */

*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a,button{
  cursor: pointer;
}

nav{
  position: absolute;
  top: 100px;
  right: 50px;
  width: 250px;
}

.navigation{
  position: fixed;
  right: -500px;
  width: 350px;
  height: 100%;
  background-color: #000;
  transition: .5s;
}

.navigation ul li{
  color: #fff;
  text-align: center;
  /* text-transform: uppercase; */
  list-style-type: none;
  font-size: 1.5em;
  padding: 20px 30px;
  border-bottom: 1pt solid #252525;
}

.hamburger, .bar{
  position: fixed;
}

.hamburger{
  display: block;
  top: 5%;
  left: 95%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar{
  top: 3px;
  background: #000;
  width: 100%;
  height: 4px;
  transition: all .3s ease-in;
}

#bar2{
  top: 11px;
}

#bar3{
  top: 19px;
}

.navigation.active{
  right: 0;
}

.hamburger.open #bar1{
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
  background-color: transparent;
}

.hamburger.open #bar3{
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}